@import "mixins";

.mobile-view {
  .d-header .wrap .contents .panel {
    .header-buttons {
      margin: 0;
      display: flex;
      gap: 1rem;

      @media screen and (min-width: 30rem) {
        display: flex;
      }

      & > button {
        display: flex;
        margin: 0;

        @media screen and (max-width: 24.5rem) {
          &.sign-up-button {
            display: none;
          }
        }
      }

      .btn-custom-header-dropdown-mobile .btn .d-icon {
        color: #2a3362;
      }

      .custom-header-links {
        & > .btn-custom-header-dropdown-mobile button {
          width: 2.375rem;
          height: 2.375rem;
          padding: 0;
        }

        .top-level-links {
          @include dropdown;
          left: 0;
          top: 0;
          margin: 100% 0 0 -50% !important;
          width: auto;
          align-items: flex-start;
          justify-content: flex-start;
          overflow: scroll;
          max-height: 90vh;

          li {
            width: 100%;

            @media screen and (min-width: 48rem) {
              width: auto;
            }
          }

          .custom-header-link:hover {
            .custom-header-dropdown {
              position: relative;
              left: -6rem;
              top: 0.5rem;
            }
          }
        }
      }
    }

    .icons.d-header-icons {
      margin-left: 1rem
    }
  }

  .floating-search-input {
    & + .panel {
      margin: 0;
    }

    @media screen and (min-width: 45rem) {
      display: block !important;
    }
  }

  .custom-header-dropdown {
    display: block;
    position: initial;
    transform: scale(1);
    box-shadow: none;
    margin-top: 1rem;
    min-width: unset;

    .custom-header-link-desc {
      display: none;
    }
  }

  .dropdown-header-open {
    overflow-y: hidden;
    height: 100vh;
    position: fixed;
  }

  body:not(.ios-safari-composer-hacks) #reply-control.open,
  #reply-control.hide-preview,
  #reply-control {
    margin: 0;
    padding: 1.5rem 1rem 1.25rem;
    height: calc(100% - 3rem);
    background-color: #ffffff;

    .reply-area {
      p {
        margin: 0;
      }

      .new-post-title-area, .new-post-category-area {
        display: flex;
        flex-direction: column;
      }

      .new-post-title-area {
        gap: 0.5rem;
      }

      .new-post-category-area {
        gap: 0.625rem;
      }

      .new-post-heading {
        margin: 0;
        font-size: 1.5rem;
        font-family: 'Millik';
        line-height: 1.98rem;
        color: #2a3362;
      }

      .new-post-title, .new-post-category {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #2a3362;
      }

      .submit-panel .save-or-cancel {
        margin: 0;
      }
    }
  }

  #discourse-modal.d-modal.login-modal:not(.hidden).fixed-modal .modal-inner-container, .d-modal.create-account.fixed-modal .modal-inner-container {
    max-width: 100%;
    max-height: 100%;
    margin: 0;

    .create-account-body {
      max-width: 100% !important;
    }

    .modal-body {
      .create-account-form {
        padding: 0;
      }

      .login-welcome-header {
        margin: 0;
        position: relative;
        background-color: #ffffff00;
        align-self: flex-start;

        .mobile-login-title {
          margin-bottom: 0.25rem;
          line-height: 2.24rem;
          font-family: 'Millik';
          color: $secondary;
        }
      }
    }
  }
}
